.Account-list-sidebar {
    ul {
        li {
            a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
                &:hover {
                    background-color: rgba(22, 24, 35, 0.03);
                }
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .information {
                    margin-left: 16px;
                    .nickname {
                        font-size: 15px;
                        font-weight: 600;
                        margin-top: 2px;
                        letter-spacing: 0.5px;
                    }
                    .check {
                        font-size: 13px;
                        color: rgb(32, 213, 236);
                        margin-left: 10px;
                    }
                    .name {
                        font-size: 13px;
                        color: rgb(136, 133, 133);
                        margin-top: -5px;
                    }
                }
            }
        }
    }
    .wrapper {
        // background-color: red;
        width: 320px;
        padding: 20px;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;
            img {
                width: 44px;
                height: 44px;
                object-fit: cover;
                border-radius: 50%;
            }
            button {
                padding: 7px 28px;
            }
        }
        .content {
            .wrap {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                h4 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: rgb(22, 24, 35);
                }
                .check {
                    font-size: 13px;
                    color: rgb(32, 213, 236);
                    margin-left: 10px;
                }
            }
            .name {
                font-weight: 500;
                color: rgb(22, 24, 35);
                font-size: 13px;
                line-height: 20px;
            }
            .status {
                color: rgba(22, 24, 35, 0.75);
                font-size: 17px;
                margin-top: 8px;
                b {
                    color: rgb(22, 24, 35);
                }
            }
        }
    }
}
