.group {
    flex: 0 0 315px;
    > ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10px;
        > li {
            margin-left: 15px;
            position: relative;
            cursor: pointer;
            .upload {
                span {
                    font-size: 15px;
                    padding-right: 5px;
                }
                i {
                    padding: 0px 7px;
                }
            }

            .login-button {
            }

            .messages-wrap {
                color: var(--text);
                margin-top: 5px;
                margin-left: 5px;
                position: relative;
                .message {
                    width: 25px;
                    outline: none;
                }
                .notiMessage {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    font-size: 13px;
                    background-color: var(--primary);
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: -7px;
                    right: -10px;
                }
            }

            .messageBox-wrap {
                color: var(--text);
                position: relative;
                .messageBox {
                    margin: 6px 10px 0px;
                    margin-left: 5px;
                    outline: none;
                }
                .dot-noti {
                    width: 10px;
                    height: 10px;
                    background-color: var(--primary);
                    border-radius: 50%;
                    position: absolute;
                    right: 10px;
                    top: 8px;
                }
                &:hover .tipTool {
                    display: block;
                }
                .tipTool {
                    display: none;
                    position: absolute;
                    top: 54px;
                    right: -5px;
                }
            }

            .menu {
                margin-right: 10px;
                width: 32px;
                height: 32px;
                > i {
                    padding: 10px;
                    color: var(--text);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .subnav-menu {
                    &::before {
                        content: '';
                        border: 10px var(--background-color-subnav) solid;
                        border-top-color: transparent;
                        border-right-color: transparent;
                        border-left-color: transparent;
                        position: absolute;
                        right: 20px;
                        top: -20px;
                    }
                }
            }
            .upload,
            .login-button {
                position: relative;
                overflow: hidden;
                &.skeletonLoading {
                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: #dddddd;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to right, #dddddd, white 50%, #dddddd);
                        position: absolute;
                        top: 0;
                        left: 0;
                        animation: skeletonLoading 1s infinite alternate;
                    }
                }
            }
        }
    }
}

@keyframes skeletonLoading {
    from {
        left: -50%;
    }
    to {
        left: 50%;
    }
}
