.list-content {
    > ul {
        scroll-snap-type: block;
        scroll-padding: 20px;
        max-height: 6000px;
        > li {
            scroll-snap-align: start;
            width: 100%;
            padding: 20px 0px;
            border-bottom: 1px solid var(--line);
            display: flex;
            &:last-child {
                border-bottom: none;
            }
            .avatar {
                img {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .content-container {
                width: 100%;
                margin-left: 12px;
            }
        }
    }
}
