.search {
    flex: 0 1 361px;
    padding: 2px;
    margin-left: 200px;
    background-color: #f1f1f2;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media screen and (max-width: 1070px) {
        margin-left: 0;
    }
    #search {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        letter-spacing: 0.2px;
        color: rgb(108, 107, 107);
        width: 86%;
        padding: 5px 15px;
        border-right: 0.5px solid rgb(207, 205, 205);
        caret-color: #fe2c55;
        &:not(:placeholder-shown) ~ button i {
            color: rgba(22, 24, 35, 0.75);
        }
        &::placeholder {
            color: rgb(133, 131, 131);
        }
    }
    button {
        border: none;
        padding: 11px 16px 11px 12px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        cursor: pointer;
        &:hover {
            background-color: #eceaea;
        }
        &:active {
            background-color: #dedcdc;
        }
        i {
            font-size: 20px;
            color: rgb(187, 184, 184);
        }
    }
    .clear {
        position: absolute;
        right: 60px;
        i {
            color: rgb(187, 184, 184);
            cursor: pointer;
        }
    }
    .loading {
        position: absolute;
        right: 60px;
        i {
            color: rgb(187, 184, 184);
            cursor: pointer;
            animation: loading 2s linear infinite;
        }
    }
    @keyframes loading {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .search-result {
        margin-top: 10px;
        width: 370px;
        .account-title {
            padding: 5px 12px;
            font-size: 14px;
            font-weight: 600;
            color: rgba(22, 24, 35, 0.5);
        }
        h4 {
            font-weight: 500;
        }
        .viewAllResult {
            text-align: left;
            font-size: 14px;
            font-weight: 700;
            color: var(--text);
            background-color: white;
        }
        p {
            font-size: 13px;
        }
    }
}
