.footerChatBox {
    // margin-bottom: 100px;
    display: flex;
    flex-grow: 0;
    padding: 13px 16px;
    border-top: 0.5px solid var(--line);
    position: relative;
    form {
        width: 100%;
        padding: 10px 45px 5px 16px;
        border: 1px solid transparent;
        border-radius: 8px;
        background-color: var(--line);
        transition: 0.3s all;
        position: relative;
        textarea {
            width: 100%;
            height: 16px;
            outline: none;
            border: none;
            max-height: 75px;
            color: var(--text);
            &::placeholder {
                color: var(--text);
            }
            background-color: transparent;
            caret-color: #fe2c55;
            resize: none;
        }
        #overflow {
            font-size: 13px;
            color: var(--text);
            position: absolute;
            left: 17px;
            bottom: 5px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s all;
            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .icon {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
        &.active {
            right: 75px;
        }
        i {
            font-size: 23px;
            border-radius: 50%;
            color: var(--text);
            &:hover {
                color: rgb(54, 53, 53);
            }
        }
    }
    .sentButton {
        display: none;
        margin-top: 3px;
        margin-left: 15px;
        cursor: pointer;
        svg {
            width: 30px;
            height: 30px;
            color: var(--primary);
        }
        &.active {
            display: block;
        }
    }
}
