.CommentWrapper {
    width: 39.8%;
    height: 100%;
    max-width: 544px;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
