.header-comment {
    padding: 30px 32px 16px;
    .header-comment-avatar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
        .infor {
            display: flex;
            &:hover .wrapper-nickName .wrap .nickName {
                text-decoration: underline;
            }
            .avatar {
                margin-right: 12px;
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .wrapper-nickName {
                .wrap {
                    margin-bottom: -5px;
                    .nickName {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 25px;
                        margin-right: 5px;
                    }
                    .tick {
                        i {
                            font-size: 15px;
                            color: rgb(32, 213, 236);
                        }
                    }
                }
                .wrap {
                    .displayName {
                        font-size: 13px;
                    }
                    .createdAt {
                        font-size: 13px;
                    }
                }
            }
        }
        .wrapper-tippy {
            width: 320px;
            padding: 20px;
            .header-tippy {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .body-tippy {
                .nickName {
                    margin-top: 7px;
                }
                .displayName {
                    font-size: 13px;
                }
                .follow {
                    margin-top: 7px;
                }
            }
            .bio {
                padding-top: 16px;
                margin-top: 16px;
                border-top: 1px solid rgba(22, 24, 35, 0.12);
                p {
                    font-size: 14px;
                }
            }
        }
        button {
            width: 106px;
            height: 36px;
            font-size: 15px;
        }
    }
    .title {
        font-size: 15px;
    }
    .music {
        margin: 10px 0px 16px;
        font-weight: 600;
        font-size: 15px;
        i {
            font-size: 13px;
            margin-right: 10px;
        }
    }
    .like-share {
        padding-top: 17px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .like-wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .heart,
            .comment {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: rgba(22, 24, 35, 0.06);

                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    font-size: 18px;
                }
            }
            span {
                margin-left: 5px;
                margin-right: 20px;
                color: rgba(22, 24, 35, 0.75);
                font-size: 11px;
                font-weight: 700;
                text-align: center;
            }
            .heart {
                cursor: pointer;
                i {
                    &.heart-active {
                        color: rgb(254, 44, 85);
                        position: relative;
                    }
                }
            }
        }
        .share-wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            li {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-right: 8px;

                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            .embed {
                background-color: rgb(86, 86, 86);
                i {
                    color: white;
                    font-size: 12px;
                }
            }
            .send {
                background-color: var(--primary);
                i {
                    color: white;
                    font-size: 13px;
                }
            }
            .facebook {
                i {
                    font-size: 24px;
                    color: rgb(91, 91, 254);
                }
            }
            .whatsapp {
                background-color: rgb(35, 221, 35);
                i {
                    color: white;
                }
            }
            .twitter {
                background-color: #1da1f2;
                i {
                    font-size: 14px;
                    color: white;
                }
            }
            .menu-share {
                display: inline-block;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
                padding: 5px 0px;
                width: 230px;
                border-radius: 8px;
                > div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    padding: 10px 10px;
                    cursor: pointer;
                    &:hover {
                        background-color: rgb(220, 217, 217);
                    }
                    i {
                        font-size: 20px;
                        margin-right: 10px;
                    }
                    h4 {
                    }
                }
            }
        }
    }
    .copy-link {
        width: 100%;
        border-radius: 8px;
        border: 1px solid rgba(22, 24, 35, 0.12);
        background-color: rgba(22, 24, 35, 0.06);
        overflow: hidden;
        margin-top: 17px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        .link {
            color: rgba(22, 24, 35, 0.75);
            font-size: 13px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 7px 0px 5px 12px;
            cursor: default;
        }
        .button-copy {
            font-size: 13px;
            font-weight: 700;
            color: rgb(22, 24, 35);

            width: 95px;
            height: 34px;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: rgba(255, 255, 255, 0.493);
            }
        }
    }
}
