.footer {
    padding: 16px 0px;
    height: 320px;
    @media screen and (max-width: 1070px) {
        display: none;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        li {
            a {
                margin-right: 6px;
                color: var(--text);
                & + a {
                    margin-left: 0;
                }
            }
        }
    }
    .copy-right {
        color: var(--text);
        font-weight: 500;
        font-size: 11px;
        line-height: 17px;
        margin-right: 6px;
        margin-top: 5px;
    }
}
