header {
    .row {
        display: none;
    }
}

main {
    .wrapper {
        height: calc(100vh - 60px);
        background-color: rgb(248, 248, 248);
        .container {
            max-width: 1150px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            margin-top: 60px;
            padding: 0px 5px;
            @media screen and (min-width: 1700px) {
                max-width: 1300px;
            }
            .row {
                height: 100%;
            }
        }
    }
}
