.profileContent {
    padding: 34px 21px;
    margin-left: 230px;
    .header {
        .row {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}
