.menu-nav {
    margin: 20px 0px;
    ul {
        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: -10px;
            @media screen and (max-width: 1070px) {
                justify-content: center;
            }
            .icons {
                margin-top: 7px;
                margin-right: 10px;
                color: white;
                .icon {
                    color: white;
                }
            }
            .title {
                font-weight: 700;
                letter-spacing: 0.5px;
                color: var(--text);
                &.active {
                    color: var(--primary);
                }
                @media screen and (max-width: 1070px) {
                    display: none;
                }
            }
            &:hover {
                background-color: rgba(22, 24, 35, 0.03);
            }
        }
    }
}
