.menu-nav {
    div {
        width: 100%;
        padding: 0;
        > div {
            border-radius: 0;
            box-shadow: none;
            ul {
                height: 152px;
                li {
                    padding: 7px 0px 2px 0px;
                    border-radius: 5px;
                    transition: 0.5s all;
                    &:hover {
                        background: rgba(22, 24, 35, 0.03);
                    }
                    a {
                        > span {
                            span {
                                font-size: 18px;
                                margin-right: 10px;
                            }
                            h4 {
                                font-size: 17px;
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        }
    }
}
