.menu-nav {
    margin: 20px -10px 10px -10px;
    div {
        width: 100%;
        padding: 0;
        > div {
            border-radius: 0;
            box-shadow: none;
            ul {
                overflow-y: hidden;
                li {
                    padding: 8px 0px 3px 5px;
                    // margin: 0px -10px;
                    border-radius: 5px;
                    transition: 0.5s all;
                    &:hover {
                        background: rgba(22, 24, 35, 0.03);
                    }
                    a {
                        > span {
                            span {
                                font-size: 18px;
                                margin-right: 8px;
                                color: var(--text);
                            }
                            h4 {
                                font-size: 17px;
                                font-weight: 700;
                                color: var(--text);
                            }
                        }
                    }
                }
            }
        }
    }
}
