.user-interactive {
    i {
        font-size: 23px;
        color: var(--text);
    }
    .icon-wrapper {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: var(--background-color-search);
        margin: 8px 0px 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .heart-active {
        color: rgb(254, 44, 85);
        position: relative;
    }
    p {
        color: var(--text);
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        font-weight: 900;
    }
    ul {
        li {
            padding: 12px 14px;
            button {
                span {
                    position: relative;
                    h2 {
                        position: absolute;
                        top: -14px;
                        left: 75px;
                    }
                }
            }
        }
    }
}
