.guestChatItem {
    margin: 8px 0px 8px 24px;
    .wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        width: fit-content;
        &:hover .iconMore {
            display: block;
        }
        .avatar {
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .message {
            padding: 7px 12px;
            margin-left: 8px;
            max-width: 360px;
            background-color: transparent;
            border: 1px solid rgba(22, 24, 35, 0.12);
            border-radius: 8px;
            overflow: hidden;
            p {
                color: #161823;
            }
        }
        .iconMore {
            margin: 9px 16px 0px 16px;
            cursor: pointer;
            display: none;
            i {
                font-size: 23px;
            }
        }
    }
}
