.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 5px 0px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    max-height: min((100vh - 96px) - 60px, 734px);
}
