.side-bar {
    width: 24.5%;
    overflow-y: overlay;
    overflow-x: hidden;
    max-height: 630px;
    position: fixed;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        // background-color: rgba(22, 24, 35, 0.06);
        opacity: 0;
        visibility: hidden;
        transition: 3s all;
    }
    &:hover::-webkit-scrollbar-thumb {
        opacity: 1;
        visibility: visible;
    }
    // &::-webkit-scrollbar-thumb {
    //     background-color: transparent;
    // }
    // &:hover::-webkit-scrollbar-thumb {
    //     background-color: rgba(22, 24, 35, 0.06);
    // }
    .wrapper {
        margin: 0px 10px 0px 7px;
        border-bottom: 1px solid rgb(235, 234, 234);
    }
}
