.parents {
    position: fixed;
    z-index: 10;
    .side-bar {
        width: 348px;
        overflow-y: auto;
        height: 100%;
        max-height: 100vh;
        overscroll-behavior: none;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            opacity: 0;
            visibility: hidden;
            transition: 3s all;
        }
        &:hover::-webkit-scrollbar-thumb {
            opacity: 1;
            visibility: visible;
        }
        .wrapper {
            margin: 0px 10px 0px 7px;
            border-bottom: 1px solid rgb(235, 234, 234);
            .signText {
                padding-top: 20px;
                color: rgba(22, 24, 35, 0.5);
                font-size: 15px;
                line-height: 22px;
            }
            .sign {
                margin: 20px 0px;
            }
            .signText,
            .sign {
                &.skeletonLoading {
                    display: none;
                }
            }
        }
    }
}
