.sub-nav {
    width: 240px;
    ul {
        overflow-y: auto;
        li {
            font-size: 16px;
            padding: 9.5px 10px;
            cursor: pointer;
            position: relative;
            &:hover {
                background-color: var(--line);
            }
            a {
                display: inline-block;
                width: 100%;
                padding: 8.5px 0px;
                margin: -10px 0px;
            }
            i {
                text-align: center;
                font-size: 20px;
                width: 50px;
                margin-left: -5px;
                color: var(--text);
            }
            span {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                h4 {
                    font-weight: 500;
                    color: var(--text);
                }
            }
            .dark-mode {
                width: 44px;
                height: 24px;
                background: rgba(22, 24, 35, 0.12);
                border-radius: 100px;
                transition: 0.3s all;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                &:hover {
                    background-color: rgba(22, 24, 35, 0.16);
                }
                .toggle-btn {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: rgb(255, 255, 255);
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
                    transition: 0.3s all;
                    position: absolute;
                    left: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.active {
                    background-color: rgb(11, 224, 155);
                    .toggle-btn {
                        left: 21px;
                    }
                }
            }
        }
    }
    .childrenTitle {
        position: relative;
        i {
            padding: 10px;
            margin: -10px;
            position: absolute;
            top: 13px;
            left: 30px;
            font-size: 18px;
            cursor: pointer;
            color: var(--text);
        }
        h4 {
            text-align: center;
            margin: 10px 0px;
            color: var(--text);
        }
    }
}
