.discover {
    padding: 16px 0px 10px 0px;
    width: 100%;
    @media screen and (max-width: 1070px) {
        display: none;
    }
    .title {
        font-size: 14px;
        color: #161823bf;
        font-weight: 500;
    }
    .hash-tags {
        margin-top: 16px;
        button {
            max-width: 208px;
            overflow: hidden;
            transition: background 200ms ease-in-out 0s;
            span {
                i {
                    margin-right: 10px;
                    font-size: 15px;
                    color: var(--text);
                }
            }
        }
    }
}
