.accountList {
    ul {
        .empty {
            padding: 0px 16px;
            height: 72px;
            font-size: 13px;
            color: var(--text);
            background-color: var(--background-color-subnav);
            line-height: 72px;
            margin: 0px -15px 0px -24px;
            @media screen and (max-width: 1070px) {
                display: none;
            }
        }
    }
}
