.bodyChatBox {
    flex-grow: 10;
    overflow-y: auto;
    .createdAtRoom {
        color: var(--text);
        font-size: 12px;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 8px;
    }
}
