@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './components/ReusedComponent/GridSystem/GridSystem.scss';

:root {
    --primary: rgba(254, 44, 85, 1);
    --text: rgba(22, 24, 35, 1);
    --border: 1px solid rgba(22, 24, 35, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

li {
    list-style: none;
}

html {
    font-size: 62.5%;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
    overflow-y: overlay;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    line-height: 1.5;
    letter-spacing: 0.2px;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 5px;
}

a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}
