.uploadVideo {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    .container {
        width: 100%;
        max-width: 1115px;
        margin: 0 auto;
        .upload-wrapper {
            margin: 15px 0px;
            .upload-content {
                padding: 24px 40px;
                .upload-header {
                    display: none;
                    &.upload-header-ui {
                        display: block;
                    }
                    h3 {
                        color: var(--text);
                        font-size: 22px;
                    }
                    h4 {
                        margin-top: 5px;
                        font-size: 17px;
                        font-weight: 300;
                        color: var(--text);
                    }
                }
                .upload-body {
                    margin-top: 22px;
                    margin-bottom: 130px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    &.upload-body-ui {
                        display: block;
                        margin-bottom: 55px;
                    }
                }
            }
        }
    }
    .footer {
        background-color: black;
        .container {
            width: 100%;
            max-width: 1115px;
            margin: 0 auto;
        }
    }
}
