.mainContent {
    width: 60.5%;
    margin: 0 16px;
    padding: 24px 0px;
    @media screen and (max-width: 1070px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
